@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
*/
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
    8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  width: 100%;
  height: 100%;
}

/* font sizes */
.f-default {
  font-size: 16px;
}

.f-small {
  font-size: 12px;
}

.f-medium {
  font-size: 15px;
}

.f-large {
  font-size: 18px;
}

.f-xl {
  font-size: 28px;
}

/* font weights */
.medium {
  font-weight: 400;
}

.bold {
  font-weight: 700;
}

/* background colors */
.bg-orange {
  background-color: hsl(26deg, 100%, 55%);
}

.bg-pale-orange {
  background-color: hsl(25deg, 100%, 94%);
}

.bg-dark-blue {
  background-color: hsl(220deg, 13%, 13%);
}

.bg-dark-grey-blue {
  background-color: hsl(219deg, 9%, 45%);
}

.bg-grey-blue {
  background-color: hsl(220deg, 14%, 75%);
}

.bg-light-blue {
  background-color: hsl(223deg, 64%, 98%);
}

.bg-white {
  background-color: hsl(0deg, 0%, 100%);
}

.bg-black {
  background-color: hsl(0deg, 0%, 0%);
}

.bg-black-transparent {
  background-color: hsla(0deg, 0%, 0%, 0.75);
}

/* text colors */
.text-orange {
  color: hsl(26deg, 100%, 55%);
}

.text-grey-blue {
  color: hsl(220deg, 14%, 75%);
}

.text-dark-blue {
  color: hsl(220deg, 13%, 13%);
}

.text-dark-grey {
  color: hsl(219deg, 9%, 45%);
}

.text-white {
  color: hsl(0deg, 0%, 100%);
}

/* paddings */
.p-1 {
  padding: 24px;
}

.py-1 {
  padding: 0 24px;
}

/* -------- */
/* margins */
.mb-2 {
  margin-bottom: 42px;
}

/* -------- */
/* gap */
.gap-1 {
  gap: 16px;
}

.gap-2 {
  gap: 22px;
}

/* -------- */
h1, h2 {
  line-height: 28px;
}

p {
  line-height: 25px;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

a {
  text-decoration: none;
}

.line-through {
  text-decoration: line-through;
}

.rounded {
  border-radius: 10px;
}

.btn-small {
  padding: 10px;
}

.column {
  flex-direction: column;
}

.head {
  flex-direction: column;
}
.head header {
  justify-content: space-between;
  align-items: center;
}
.head header ul {
  display: none;
}
.head header .cart-container {
  align-items: center;
}
.head header .cart-container img {
  width: 24px;
  height: 24px;
}
.head header .basket-btn {
  position: relative;
}
.head header .basket-btn .amount {
  position: absolute;
  display: none;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  border-radius: 6.5px;
  font-size: 10px;
  width: 19px;
  height: 13px;
  align-items: center;
  justify-content: center;
}
.head header .basket-btn .flex-amount {
  display: flex;
}
.head .hr {
  display: none;
}

.basket {
  position: absolute;
  display: none;
  z-index: 100;
  box-shadow: 0px 20px 50px -20px rgba(29, 32, 38, 0.503143);
  top: 80px;
  border-radius: 10px;
  right: 6px;
  width: 360px;
  height: 256px;
}
.basket .line {
  border: 1px solid #E4E9F2;
}
.basket .content-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket .content-1 img {
  border-radius: 4px;
  width: 50px;
  height: 50px;
}
.basket .content-2 {
  height: 188px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.basket .checkout {
  width: 100%;
  height: 56px;
}

.modal {
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: none;
}
.modal nav {
  width: 250px;
  height: 100%;
}
.modal nav ul {
  list-style: none;
  padding: 0;
  line-height: 45px;
}
.modal nav ul a {
  color: hsl(220deg, 13%, 13%);
}

.gallery {
  position: relative;
}
.gallery .thumbnails {
  display: none;
}
.gallery .picture {
  height: 100%;
  width: 100%;
  display: none;
}
@-webkit-keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.gallery .active {
  display: block;
  -webkit-animation-name: animation;
          animation-name: animation;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.description {
  display: flex;
  flex-direction: column;
}
.description .price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description .price .discount {
  display: flex;
  align-items: center;
}
.description .price .discount :last-child {
  padding: 4px 8px;
  border-radius: 6px;
}
.description .summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 56px;
}
.description .purchase {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 56px;
  box-shadow: 0px 20px 50px -20px var(--orange);
}

.thumbnails {
  display: flex;
  justify-content: space-between;
}
.thumbnails img {
  min-width: 50px;
  cursor: pointer;
}

.gallery-arrows {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 16px;
}
.gallery-arrows .arrow {
  padding: 11px 14px;
  border-radius: 50%;
}

@media only screen and (min-width: 1000px) {
  .head {
    padding: 24px 165px;
  }
  .head header button {
    display: none;
  }
  .head header ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  .head header ul a {
    color: hsl(219deg, 9%, 45%);
  }
  .head header .cart-container img {
    width: 50px;
    height: 50px;
  }
  .head .hr {
    display: block;
    border: 1px solid #E4E9F2;
  }
  h1.f-xl {
    font-size: 44px;
    line-height: 48px;
  }
  .gap-1 {
    gap: 31px;
  }
  main {
    padding: 90px 283px;
    display: flex;
    align-items: center;
    gap: 115px;
  }
  main .buttons {
    display: flex;
  }
  main .buttons .summary {
    max-width: 157px;
  }
  main .gallery {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  main .gallery img {
    cursor: pointer;
  }
  main .gallery .gallery-arrows {
    display: none;
  }
  main .gallery .thumbnails {
    display: flex;
  }
  main .description {
    width: 50%;
  }
}
.gallery-modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-x: auto;
}
.gallery-modal .modal-close {
  display: flex;
  justify-content: flex-end;
}
.gallery-modal .modal-close button {
  margin: 0;
}
.gallery-modal .s {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.gallery-modal .s img {
  width: 100%;
}
.gallery-modal .s .thumbnails {
  padding: 0 40px;
}

.active-item {
  display: block;
}

.flex {
  display: flex;
}

.relative {
  position: relative;
}

.active-large span {
  position: absolute;
  top: 0;
  opacity: 0.75;
  width: 100%;
  height: 100%;
  outline: solid 2px hsl(26deg, 100%, 55%);
}/*# sourceMappingURL=styles.css.map */